.flex-container {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-between;
}

.flex-element {
  order: 0;
  flex: 1 100px;
}

.element-1 {

}

.element-2 {

}

.element-3 {

}

.element-4 {

}

.element-5 {

}
