.flex-container {
  display: flex;
  /*
    display: inline-flex;
  */
  flex-direction: column-reverse;
  /*
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
  */
}

.flex-element {

}
