@import "../_color.scss";

body {
  color: $white;
  background: $red;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
