doctype html
html
  head
    title Welcome | Chat on Node.js
    
  body
    h1 Chat on Node.js
    
    p Login or Register with:
    
    a(href="/login") Local Login
    a(href="/signup") Local Signup
