doctype html
html
  head
    title Profile | Chat on Node.js

  body
    
    h1 Profile Page
    a(href="/logout") Logout

    //- LOCAL INFORMATION
    p
      strong id:
        = user._id
      strong email:
        = user.local.email
      strong password:
        = user.local.password
