.input-field.col.s12
  input#search.yellow-text.text-lighten-5(type="text" placeholder="search" required)
    
h5.grey-text.text-lighten-5.center PEOPLES (10)

.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium

.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium
        
.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium

.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium
    
.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium

.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium
        
.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium

.col.s3
  i.grey.lighten-5.mdi-action-account-circle.medium
    
a(href="#")
  h6.grey-text.text-lighten-5.center - - - all - - -
