<div class='col-xs-6 user_template'>
  <img class='img-responsive col-xs-4 user_avatar' src='./public/images/sobaka.jpg' alt='Petr Gros'>

  <div class='col-xs-8'>
    <p class='lead user_name'>Petr Gros</p>
    <strong class='user_address'>Orel, Russia</strong>
    <p>
      <strong class='user_phone'>89004562321</strong>
    </p>
    <p>
      <a class='user_email' href='mailto:email@example.com'>email@example.com</a>
    </p>
  </div>

  <nav class='col-xs-12'>
    <button class='btn btn-info col-xs-5 user_edit' type='submit'>Edit</button>
    <button class='btn btn-danger col-xs-5 col-xs-offset-2 user_delete' type='submit'>Delete</button>
  </nav>
</div>
