extends ../template/layout.jade

block content
  
  if user
    header.container
      div.row.valign-wrapper
        h1.valign.lime-text.text-darken-4 About
  
  .container      
    p.flow-text Id. Phasellus magna enim Praesent feugiat class eget. Imperdiet consectetuer enim dictumst. Aliquet. Amet massa malesuada tellus sociosqu aenean dignissim nostra dolor orci vehicula habitant montes sociosqu auctor massa parturient aliquam sem faucibus cursus.
    p.flow-text Luctus Aptent tempus parturient cubilia libero. Viverra. Porta rhoncus in in proin lobortis imperdiet hendrerit litora venenatis litora. Hymenaeos praesent lorem eros, dapibus lobortis massa penatibus at auctor odio per tempus mus.
    p.flow-text Enim augue netus, potenti at fringilla gravida luctus pretium. Nisl volutpat vehicula ad molestie sit Condimentum lectus metus cursus Facilisis tincidunt eleifend, dignissim eleifend Magna nascetur feugiat tincidunt hendrerit purus eros facilisi class. Erat.
