<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.startandroid.develop.p0972servicebindserver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="ru.p0651startandroid.servicebindserver.MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="ru.p0651startandroid.servicebindserver.MyService" />
            </intent-filter>
        </service>
    </application>

</manifest>