#chat
  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.
    
  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.
          
  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.
              
  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.

  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.
              
  .row.you
    .col.s2.center
      i.grey.lighten-5.mdi-action-account-circle.medium
      .row.center
        a(href="#!") Nick
    .message.col.s10
      .data 10 minutes ago
      p Nascetur proin risus in eros, ultrices enim leo sit. Sodales convallis lobortis faucibus class scelerisque senectus. Cras, integer pede. Sociis interdum, id mattis. Nostra dictum pretium duis pharetra. Convallis convallis.

.row
  form.col.s12
    .row
      .input-fiels.col.s12
        textarea#writeMessage.materialize-textarea(placeholder="Click here to type a chat message.")
