h5.grey-text.text-lighten-5.center CHATROOMS

.collection
  a.collection-item(href="#!")
    i.mdi-communication-messenger.left
    | Room 1
    i.mdi-action-exit-to-app.small.right
  
  a.collection-item(href="#!")
    i.mdi-communication-messenger.left
    | Room 2
    i.mdi-action-exit-to-app.small.right
  
  a.collection-item(href="#!")
    i.mdi-communication-messenger.left
    | Room 3
    i.mdi-action-exit-to-app.small.right
  
  a.collection-item(href="#!")
    i.mdi-communication-messenger.left
    | Room 4
    i.mdi-action-exit-to-app.small.right
      
a.col.s12.waves-effect.waves-light.btn(href='#!') Create Room
