/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require normalize-rails
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat';
}

.fixed-content {
  width: auto;
  max-width: 860px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  text-align: center;
}

header {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/95581/header.png');
  /*background-attachment: fixed;*/
  color: #FFF;
  max-height: 500px;
  height: 100%;

  .port {
    border-radius: 50%;
    border: 6px #ccc solid;
    width: 16%;
  }
}

.icon-row {
  margin: 45px auto;
  width: 100%;

  a { color: white; }

  i {
    border-radius: 4px;
    cursor: pointer;
    font-size: 44px;
    margin: 0px 20px;
    padding: 20px 30px;
    transition: all 400ms ease-in-out;

    &:hover {
      background: #FFF;
      color: #ca5549;
    }
  }
}

.second, .second a {
  background: #f2f2f2;
  color: #a9b0ba;
  width: 100%;
}

.footer {
  color: #a9b0ba;

  .blue {
    i {
      color: #d2d6dc;

      &:hover {
        background: #3c7fc6;
        color: #d2d6dc;
      }
    }
  }

  .fa-chevron-up {
    cursor: pointer;
    font-size: 34px;
    margin: 40px 0 0 0;
    position: relative;
    top: 0px;

    &:hover {
      -webkit-animation: up 1s infinite;
      /* Chrome, Safari, Opera */
      animation: up 1s infinite;
    }
  }
}
@-webkit-keyframes up {
  0% {
    top: 0px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

/*********************/
/*** PAGINATION UI ***/
/*********************/
.pagination {
  text-align: center;

  span {
    min-width: 22px;
    background: rgba(115, 147, 168, 0.9);
    border-radius: 3px;
    transition: all 0.3s ease;
    padding: 6px;

    &:hover, &:focus{
      background: rgba(40,110,250,0.9);
    }

    a {
      color: white;
      padding: 6px;
      border-radius: 3px;
    }
  }

  .current {
    background: rgba(40,110,250,0.9);
    color: white;
  }
}

/********************/
/***  COMMENT UI  ***/
/********************/
.comment_block {
  input, textarea {
    border: 4px solid rgba(0,0,0,0.1);
    padding: 8px 10px;
    border-radius: 5px;
    outline: 0;
    width: 40%;
    min-width: 350px;
  }

  input[type="submit"]:hover {
    background: #3c7fc6;
    color: #d2d6dc;
    transition: all 0.7s ease;
  }
}

.comment {
  margin: 2em auto;
  border-bottom: 4px solid #d2d6dc;
  border-radius: 15px;

  &:hover {
    zoom: 1.1;
  }

  &:nth-child(odd):hover {
    transform: rotate(0.5deg);
  }
  &:nth-child(even):hover {
    transform: rotate(-0.5deg);
  }
}
