extends ./layout.jade

block content
    
  h1 Profile Page
  a(href="/logout") Logout
  a(href="/chat") Chat

  //- LOCAL INFORMATION
  p
    strong id:
      = user._id
    strong email:
      = user.local.email
    strong password:
      = user.local.password
