apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: ${PATH_TO_K8S_CERT}ca.pem
users:
- name: kubelet
  user:
    client-certificate: ${PATH_TO_K8S_CERT}worker.pem
    client-key: ${PATH_TO_K8S_CERT}worker-key.pem
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
